﻿@model IEnumerable<Data.Entidades.CategoriaPrincipal>

@{
    ViewBag.Title = "Categorias";
}

<h2>Listado Categorias</h2>

<p>
    @Html.ActionLink("Crear Nueva Categoria", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CategoriaPrincipalID }) |
            @*@Html.ActionLink("Ver", "Details", new { id=item.CategoriaPrincipalID }) |*@
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CategoriaPrincipalID })
        </td>
    </tr>
}

</table>


