﻿@{
    ViewBag.Title = "Contactos";
}
<h3>Para contacto y sugerencias</h3>

<address>
    Departamento de Tecnología<br />
  Extensiones:    238 - 342
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:wmartinez@hdssd.semma.gob.do">ffulgencio@hdssd.semma.gob.do</a><br />

</address>