﻿@model Data.Entidades.Incidencia

@{
    ViewBag.Title = "Creacion Incidencias";
}

<hr />

<div class="container" style="background-color:lightgreen; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:12px">
    <div class="col-md-6">
        <h5> Departamento:  @Html.Label((string)ViewBag.nombreDepartamento)</h5>
    </div>
    <div class="col-md-6">
        <h5>Nombre: @Html.LabelFor(user => user.UsuarioNombre, (string)ViewBag.nombreUsuario)</h5>
    </div>
</div>

@using (Html.BeginForm("Create","Incidencias",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <hr />
    <br />

    if (User.IsInRole("1"))
      {
            <div class="container" style="">
                <div class="row">
                    <br />
                    <div class="col-md-6">
                        <div class="row">
                            @*@Html.Label("Departamento", htmlAttributes: new { @class = "control-label col-md-2" })*@
                            @Html.DropDownList("DepartamentoID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DepartamentoID, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div class="row">
                            @Html.DropDownListFor(model => model.UsuarioID, new SelectList(" "), "--Quien llama?--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UsuarioID, "", new { @class = "text-danger" })
                        </div><br /><br /><br /><br />

                        <div class="row">
                            @Html.DropDownList("CategoriaPrincipalID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoriaPrincipalID, "", new { @class = "text-danger" })

                        </div><br />
                        <div class="row">
                            @*@Html.LabelFor(model => model.CategoriaSecundariaID, "CategoriaSecundariaID", htmlAttributes: new { @class = "control-label col-md-2" })*@
                            @Html.DropDownListFor(model => model.CategoriaSecundariaID, new SelectList(" "), "[..Seleccione una Sub-Categoria..]", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoriaSecundariaID, "", new { @class = "text-danger" })
                        </div><br /><br /><br /><br />

                        <div class="row">
                            @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @style = "width: 100%; height:120px", @placeholder = "Detalle de la Incidencia" })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>

                 </div>
                    
                    <div class="col-md-6">
                        <div class="row">
                            @*@Html.LabelFor(model => model.TecnicoID, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            @Html.DropDownList("TecnicoID", (SelectList)ViewBag.TecnicoID, null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TecnicoID, "", new { @class = "text-danger" })

                        </div> <br />
                        <div class="row">
                            @*@Html.LabelFor(model => model.EstadoIncidenciaID, "EstadoIncidenciaID", htmlAttributes: new { @class = "control-label col-md-2" })*@
                            @Html.DropDownList("EstadoIncidenciaID", null, "Estado de la Incidencia", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EstadoIncidenciaID, "", new { @class = "text-danger" })
                        </div> <br /><br /><br /><br />

                        <div class="row">
                            @Html.DropDownList("PrioridadID", null, "[Prioridad de la Inciencia]", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PrioridadID, "", new { @class = "text-danger" })

                        </div><br /><br /><br /><br /><br /><br />
                        <div class="row">
                            @*@Html.LabelFor(model => model.ComentarioCierre, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            @Html.TextAreaFor(model => model.ComentarioCierre, new { @class = "form-control", @style = "width: 100%; height:120px", @placeholder = "Comentario de Cierre" })
                            @Html.ValidationMessageFor(model => model.ComentarioCierre, "", new { @class = "text-danger" })

                        </div>
                    </div>

                </div>
             </div>
            <br />
            }
            else
            {
            <div class="container">
                @Html.HiddenFor(model => model.DepartamentoID, new { id = "DepartamentoID", name = "DepartamentoID", Value = 0 })
                @Html.HiddenFor(model => model.UsuarioID, new { id = "UsuarioID", name = "UsuarioID", Value = 0 })

                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                        
                            @Html.DropDownList("CategoriaPrincipalID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoriaPrincipalID, "", new { @class = "text-danger" })

                        </div><br />
                              <div class="row">
                                
                                  @Html.DropDownListFor(model => model.CategoriaSecundariaID, new SelectList(" "), "[..Seleccione una Sub-Categoria..]", new { @class = "form-control" })
                                  @Html.ValidationMessageFor(model => model.CategoriaSecundariaID, "", new { @class = "text-danger" })
                              </div><br /><br /><br /><br />
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @style = "width: 100%; height:120px", @placeholder = "Detalle de la Incidencia" })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>
            </div>
            }
            <div class="container">
                <div class="row">
                    <div class="col-md-6"> </div>
                    <div class="col-md-6">                      
                        <br />                     
                        <div class="row">                           
                            <input type="submit" value="Crear incidencia" class="btn btn-primary col-md-12 "  />                         
                        </div>
                    </div><br /><br />
                </div>
            </div>            
            }
            <br />
            <div>
                @Html.ActionLink("Regresar sin guardar", "Index")
            </div>

            @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
            <script src="~/Scripts/jquery-1.10.2.js"></script>
            <script>

                $(document).ready(function () {
                    $("#CategoriaPrincipalID").change(function () {
                        $.get("../Incidencias/lsSecundaria", { CategoriaPrincipalID: $("#CategoriaPrincipalID").val() }, function (data) {
                            $("#CategoriaSecundariaID").empty();
                            $.each(data, function (index, row) {
                                $("#CategoriaSecundariaID").append("<option value='" + row.CategoriaSecundariaID + "'>" + row.Descripcion + "</option>")
                            });
                        });
                    })

                    $("#DepartamentoID").change(function () {
                        $.get("../Incidencias/lsUsuarios", { DepartamentoID: $("#DepartamentoID").val() }, function (data) {
                            $("#UsuarioID").empty();
                            $.each(data, function (index, row) {
                                $("#UsuarioID").append("<option value='" + row.codigo + "'>" + row.FullName + "</option>")
                            });
                        });
                    })
                });

            </script>
