﻿@model Data.Entidades.Incidencia

@{
    ViewBag.Title = "Detalles de Incidencia";
}


<div>
    <br />
    <h4>Detalle de Incidencia</h4>
    <hr />
   
        <dl class="dl-horizontal">

            <dt>
                @Html.Label("Usuario")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UsuarioNombre)
            </dd>
            <br />
            <dt>
                @Html.Label("Fecha")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha)
            </dd>
            <br />
            <dt>
                @Html.Label("Descripción")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <br />
            <dt>
                @Html.Label("Categoría")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoriaPrincipal.descripcion)
            </dd>
            <br />
            <dt>
                @Html.Label("Sub-Categoría")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoriaSecundaria.Descripcion)
            </dd>
            <br />
            <dt>
                @Html.Label("Estado Incidencia")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstadoIncidencia.Descripcion)
            </dd>
            <br />
        
         
            <dt>
                @Html.Label("Comentario de Cierre")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ComentarioCierre)
            </dd>
            <br />
            <dt>
                @Html.Label("Fecha de cierre")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaCierre)
            </dd>
            <br />
            <dt>
                @Html.Label("Ultima Modificación")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UltimaModificacion)
            </dd>
            <br />         
            <br />


        </dl>
   
</div>
<p>  
    @Html.ActionLink("Volver atras", "Index")
</p>
