﻿@model Data.Entidades.Incidencia

@{
    ViewBag.Title = "Ediccion Incidencia";
}

<h2>Editar Incidencia</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
  
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IncidenciaId)

    <div class="form-group">
        @Html.LabelFor(model => model.DepartamentoID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.EditorFor(model => model.DepartamentoID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.DepartamentoID, "", new { @class = "text-danger" })
            @Html.HiddenFor(x => x.DepartamentoID)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.UsuarioID, "Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.TextBoxFor(model => model.UsuarioID, new { disabled = "disabled", name ="usuarioId" })*@

            @Html.EditorFor(model => model.UsuarioNombre, new { htmlAttributes = new { @class = "form-control", @value = Model.UsuarioID, @readonly = "readonly" } })
            @Html.HiddenFor(x => x.UsuarioID)
            @*@Html.DropDownList("UsuarioID", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })*@
            @Html.ValidationMessageFor(model => model.UsuarioID, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.CategoriaPrincipalID, "Categoría", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CategoriaPrincipal.descripcion, new { htmlAttributes = new { @class = "form-control", @value = Model.CategoriaPrincipalID, @readonly = "readonly" } })
            @Html.HiddenFor(x => x.CategoriaPrincipalID)
            @*@Html.DropDownList("CategoriaPrincipalID", null, htmlAttributes: new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.CategoriaPrincipalID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CategoriaSecundariaID, "Sub-Categoría", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CategoriaSecundaria.Descripcion, new { htmlAttributes = new { @class = "form-control", @value = Model.CategoriaSecundariaID, @readonly = "readonly" } })
            @Html.HiddenFor(x => x.CategoriaSecundariaID)
            @*@Html.DropDownList("CategoriaSecundariaID", null, htmlAttributes: new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.CategoriaSecundariaID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @style = "width:300px; height:120px", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PrioridadID, "Prioridad", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Prioridad.Descripcion, new { htmlAttributes = new { @class = "form-control", @value = Model.PrioridadID, @readonly = "readonly" } })
            @Html.HiddenFor(x => x.PrioridadID)
            @*@Html.DropDownList("PrioridadID", null, htmlAttributes: new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.PrioridadID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EstadoIncidenciaID, "Estado Incidencia", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("EstadoIncidenciaID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EstadoIncidenciaID, "", new { @class = "text-danger" })
        </div>
    </div>

    @* Este codigo ya no lo uso; porque estoy asignando el tecnico que esta logueado
        @if (User.IsInRole("1"))
    {

        <div class="form-group">
            @Html.LabelFor(model => model.TecnicoID, "Técnico", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TecnicoID", (SelectList)ViewBag.TecnicoID, null, htmlAttributes: new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.TecnicoID, "", new { @class = "text-danger" })
                @Html.HiddenFor(x => x.TecnicoID)
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            @Html.LabelFor(model => model.TecnicoID, "Técnico", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tecnicos.NombreTecnico, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.TecnicoID, "", new { @class = "text-danger" })
                @Html.HiddenFor(x => x.TecnicoID)
            </div>
        </div>
    }*@



    <div class="form-group">
        @Html.LabelFor(model => model.ComentarioCierre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ComentarioCierre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ComentarioCierre, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.FechaCierre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaCierre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaCierre, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @*<div class="form-group">
            @Html.LabelFor(model => model.UltimaModificacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UltimaModificacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UltimaModificacion, "", new { @class = "text-danger" })
            </div>
        </div>*@



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Regresar sin guardar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
