﻿@model IEnumerable<Data.Entidades.Incidencia>

@{
    ViewBag.Title = "Incidencias";
}
@*<meta http-equiv="refresh" content="5">*@
<br />

@if (User.IsInRole("1"))
{

<div class="container">
    <table class="table table-striped">                
      <tr >
        <th style="align-content:center; text-align:center">
                    <span style="font-size:large; color:blue">Total</span>
                    <i class="fas fa-angle-double-down"></i>
                </th>
        <th style="align-content:center; text-align:center; color:green">
                    @Html.ActionLink("ABIERTAS", "verAbiertas")
                    <i class="fas fa-angle-double-down"></i>
                </th>
        <th style="align-content:center; text-align:center; color:orange">
                    @Html.ActionLink("CERRADAS", "verCerradas")
                    <i class="fas fa-angle-double-down"></i>
                </th>
        <th style="align-content:center; text-align:center; color:#FFEE58">
                    @Html.ActionLink("REASIGNADAS", "verAsignadas")
                    <i class="fas fa-angle-double-down"></i>
                </th>
        <th style="align-content:center; text-align:center; color:red">
                @Html.ActionLink("Retrasadas", "verRetrasadas")
                <i class="fas fa-angle-double-down"></i>
            </th>
        <th style="align-content:center; text-align:center; color:darkred">
                    @Html.ActionLink("URGENTES", "VerPrioridad")
                    <i class="fas fa-angle-double-down"></i>
                </th>
      </tr>      
      <tr>
        <td>
            <div class="noticeTotal">
                @ViewBag.TotalIncidencias@if (ViewBag.TotalIncidencias == null)
                {
                    <span>0</span>
                }
            </div>
        </td>
        <td>
            <div class="noticeAbiertas">
                @ViewBag.Abiertas @if (ViewBag.Abiertas == null)
                {
                    <span>0</span>
                }
            </div>
        </td>
        <td>
            <div class="noticeCerradas">
                @ViewBag.Cerradas@if (ViewBag.Cerradas == null)
                {
                    <span>0</span>
                }
            </div>
        </td>
        <td>
            <div class="noticeReasignadas">
                @ViewBag.Reasignadas @if (ViewBag.Reasignadas == null)
                {
                    <span>0</span>
                }
            </div>
        </td>
        <td>
            <div class="noticeRetrasadas">
                @ViewBag.Retrasadas @if (ViewBag.Retrasadas == null)
                {
                    <span>0</span>
                }
            </div>
        </td>
        <td>
                <div class="noticeUrgentes">
                    @ViewBag.Prioridad @if (ViewBag.Prioridad == null)
                    {
                        <span>0</span>
                    }
                </div>
            </td>
       </tr>     
    </table>
</div>

    #region Codigo anterior para buscar incidencia por tecnico
    // Ya no se ultiza este codigo de buscar por tecnicos; ya que el datatable tiene un buscar
    //Creando DropDownList para filtrar la busqueda de incidencias en la vista de Index
    @*using (Html.BeginForm("Index", "Incidencias", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-3">
                    @Html.DropDownList("Parametro", (SelectList)ViewBag.TecnicoID, "Todas las incidencias", htmlAttributes: new { @class = "form-control" })

                </div>
                <div class="col-md-2">
                    <input type="submit" name="btnBuscar" value="Buscar" class="btn btn-default" />
                </div>
            </div>
        }*@
    #endregion


}


<div class="tab-content ">

    @Html.ActionLink("  Reportar nueva incidencia", "Create", null, new { @class = "btn btn-primary btn-large col-md-12 far fa-plus-square actionLinkReportar" })
</div><br />


<table id="incidencias" class="table table-striped">
   <thead>

   </thead>
    <tbody>

    </tbody>
</table>



@section scripts{
    <script>

        $(document).ready(function () {

            $("#incidencias").DataTable({
                "order": [[0, "desc"]],
                "searching": true,
                'responsive': true,
                "processing": true,
                'language': {
                    url: '/Content/DataTables/TraductorDataTable.json' //Ubicacion del archivo con el json del idioma.
                },
              
                ajax: {
                    url: "../Semmdesk/incidencias/getincidencias",
                    dataSrc:""
                },

                "createdRow": function (row, data, index) {
                  
                    if (data.Estado == 'Abierta') {
                        $('td', row).eq(8).addClass('EstadoAbiertas');
                    }

                    if (data.Estado == 'Cerrada') {
                        $('td', row).eq(8).addClass('EstadoCerradas');
                    }

                    if (data.Estado == 'Reasignada') {
                        $('td', row).eq(8).addClass('EstadoReasignadas');
                    }

                    if (data.Estado == 'Urgentes') {
                        $('td', row).eq(8).addClass('EstadoUrgentes');
                    }
                    
                    if (data.Estado == 'Retrasada') {
                        $('td', row).eq(8).addClass('EstadoUrgentes');
                    }
                },
                columns: [
                    {
                        title: "ID",
                        data: "ID"
                    },
                    {
                        title: 'Fecha',
                        data: 'Fecha', 'render': function (date) {
                            var date = new Date(parseInt(date.substr(6)));
                            //var month = date.getMonth() + 1;
                            var time = date.toLocaleString().toString("dd/MM/yyy HH:MM");
                            timeR = time - Date.now;
                            if (timeR > 3) {
                                $('td', row).eq(7).addClass('EstadoUrgentes');
                            }
                            return time;
                        }
          

                    },
                    {
                        title: "Categoría",
                        data: "Categoria"
                    },
                    {
                        title: "Sub-Categoría",
                        data: "SubCategoria"
                    },
                    {
                        title: "Departamento",
                        data: "Departamento"
                    },
                    {
                        title: "Usuario",
                        data: "Usuario"
                    },
                    {
                        title: "Detalle",
                        data: "Detalle"
                    },
                    {
                        title: "Técnico",
                        data: "Tecnico"
                    },
                    {
                        title: "Estado",
                        data: "Estado"
                    },
                   
                    {
                        data: "ID",
                        render: function (data, type, ID) {
                            return "<a href='/SemmDesk/incidencias/Details/ " + data + "'><i class='far fa-eye'></i></a>";
                        }
                    },
                    {
                        data: "ID",
                        render: function (data, type, ID) {
                            return "<a href='/SemmDesk/incidencias/Edit/ " + data + "'><i class='far fa-edit'></i></a>";
                        }
                    }
                ],               
            });   

               
        });

    </script>
    }


