﻿@model IEnumerable<Data.Entidades.Incidencia>
@{
    ViewBag.Title = "Incidencias Cerradas";
}

<h2>Incidencias Reasignadas</h2>
@Html.ActionLink("Volver", "Index")
<table class="table table-striped">
    <tr>
        <th>
            Fecha
        </th>
        <th>
            Usuario
        </th>
        <th>
            Detalle
        </th>

        <th>
            Comentario
        </th>
        <th>
            Categoría
        </th>

        <th>
            Sub-Categoría
        </th>
        <th>
            Estado
        </th>
        <th>
            Prioridad
        </th>
        <th>
            Técnico
        </th>
        <th>
            Fecha Cierre
        </th>
        <th></th>
        <th></th>
    </tr>



    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.UsuarioNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ComentarioCierre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaPrincipal.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaSecundaria.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoIncidencia.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prioridad.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tecnicos.NombreTecnico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCierre)
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", new { id = item.IncidenciaId })


            </td>
            <td>
                @if (User.IsInRole("1"))
                {
                    @Html.ActionLink("Trabajar", "Edit", new { id = item.IncidenciaId })
                }
            </td>

        </tr>
    }

</table>